:root {
  --main-color:hsl(217, 66%, 54%);
  --text-color-600:hsl(0, 0%, 46%);
  --text-color-900:hsl(0, 0%, 4%);
  --border-color-400:#C2C2C2;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
input,
button {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
  color: var(--text-color-600);
}

.main-content {
  padding: 3.6rem 3.2rem;

  width: 368px;
  margin:auto;
  
  display: flex;
  flex-direction: column;
}
  

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-color-900);

  margin-bottom: 12rem;
}

.logo span {
  color: var(--main-color);
  font-weight: 600;
}

.main-heading {
  color: var(--text-color-900);
}

.main-text {
  margin: .8rem 0 3.2rem;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.login-wrapper label {
  color: var(--text-color-900);
  font-weight: 600;
}

.login-wrapper input {
  padding: 1.2rem 2.4rem;

  border-radius: 1.6rem;
  border: 1px solid var(--border-color-400);

  outline: none;
}

.login-wrapper input::placeholder {
  color: var(--text-color-600);
  font-weight: 600;
}

.checkbox-forgotpasswd {
  margin-block: 2.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox-forgotpasswd  a {
  text-decoration: none;
  color: var(--main-color);
}

.checkbox-wrapper label{
  margin-left: .8rem;
}

.btn-signin {
  padding: 1.2rem 5rem;

  color: #FFF;

  background-color: var(--main-color);

  border: none;
  border-radius: 1.6rem;

  cursor: pointer; 
}

.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1.6rem 0 3.2rem;
  padding: 1.2rem 5rem;

  font-weight: 600;

  background-color: #FFF;
  border: 1px solid var(--border-color-400);
  border-radius: 1.6rem;

  cursor: pointer;
}

.btn-google img {
  margin-right: 1rem; 
}

.footer-text {
  text-align: center;
  margin-bottom: 3.2rem;
}

.footer-text a {
  text-decoration: none;

  font-weight: 600;
  color: var(--main-color);
}


.img-bg {
  height: 23rem;
  background: url(./Assets/img-bg.png) no-repeat center 10%/cover;
}


@media  screen and (min-width:768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .img-bg {
    width: 100%;
    height: 100vh;
    background: url(./Assets/img-bg.png) no-repeat center/cover;
   }
}
